`<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <style type="text/css">
    body {
      font-size: 10pt;
      font-family: Tahoma, sans-serif;
    }
  </style>
  <body>
    <div>
      <span class="fName tahoma black"><b>${user.FirstName}</b></span>&nbsp;<span class="lName tahoma black"><b>${user.LastName}&nbsp;|&nbsp;</b></span><span class="jobtitle tahoma black"><b>${user.EmployeeType}</b></span><br />
      <span class="office">${user.CompanyName}</span><br />
      <span class="address1">${user.AddressLine1}</span>&nbsp;|&nbsp;<span class="address2">${user.AddressLine2}</span>&nbsp;|&nbsp;<span class="phone">${user.CompanyPhone}</span><span class="cell">${user.AddressPhone?"Cell "+user.AddressPhone?""}</span><br />
      <span class="email"><a href="mailto:${user.email_address}">${user.email_address}</a></span><br /><br />
      <img src="https://d3bog92s18hu5m.cloudfront.net/email_${user.Company}.png" />
    </div>
  </body>
</html>
`
